@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-gray: #dadada;
  --color-dark-gray: #383838;
  --color-warm-gray: #848484bf;
  --color-light-gray: #ededed;
  --color-pinkish-grey: #c4c4c4;

  --green-teal: #0ab463;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gray: var(--color-gray);
  --color-dark-gray: var(--color-dark-gray);
  --color-warm-gray: var(--color-warm-gray);
  --color-light-gray: var(--color-light-gray);
  --color-pinkish-grey: var(--color-pinkish-grey);

  --color-green-teal: var(--green-teal);

  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);

  --text-xs: 0.4375rem; /* 7px */
  --text-sm: 0.5625rem; /* 9px */
  --text-md: 0.6875rem; /* 11px */

  --size-small: 1.0625rem; /* 17px */
  --size-medium: 1.25rem; /* 20px */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
